/* MY HEADER */
* 
    {
        margin: 0;
        padding: 5;
        box-sizing: border-box;
    }

.hero 
    {
        text-align: center;
        padding-top: 30px;
    }

.logo 
    {
        font-family: 'Great Vibes', cursive;
        font-size: 70px;
        color: #262c38;

        text-shadow:
            5px 5px 0 #e0dedc,
            2px 2px 0 #fff2ea,
            10px 5px 5px rgb(255, 255, 255);
    }

/* MY NAVIGATION BAR */
.navbar 
    {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.418); /* semi-transparent bar */
    }

.navbar a 
    {
        text-decoration: none;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        letter-spacing: 2px;
    }

.navbar a:hover 
    {
        text-decoration: underline;
    }

/*NEW SECTION */
section 
    {
        padding: 30px;
        background-color: rgb(250, 244, 241);
        margin: 20px auto;
        border-radius: 10px;
        width: 80%;
        max-width: 900px;
        box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
        font-family: 'Crimson Pro', serif;
        font-size: 17px;
        line-height: 30px;
    }
