* 
    {
        margin: 0;
        padding: 5;
        box-sizing: border-box;
    }

.hero 
    {
        text-align: center;
        padding-top: 30px;
    }

.logo 
    {
        font-family: 'Great Vibes', cursive;
        font-size: 70px;
        color: #262c38;

        text-shadow:
            5px 5px 0 #e0dedc,
            2px 2px 0 #fff2ea,
            10px 5px 5px rgb(255, 255, 255);
    }

.navbar 
    {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.418); /* semi-transparent bar */
    }

.navbar a 
    {
        text-decoration: none;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        letter-spacing: 2px;
    }

.navbar a:hover 
    {
        text-decoration: underline;
    }

.section-opening
    {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.555);
        margin: 20px auto;
        border-radius: 10px;
        width: 90%;
        max-width: 1500px;
        box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
        font-family: 'Crimson Pro', serif;
        font-size: 17px;
    }

/* PAGE SECTION */
.artist-section {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
    gap: 40px;              
  flex-wrap: wrap; 
}

/* CARD */
.artist-card {
  width: 320px;
  padding: 30px 25px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(4px);
  border-radius: 24px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.artist-card:hover {
  transform: scale(1.05);
}

/* VINYL */
.vinyl-player {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.vinyl {
  width: 170px;
  height: 170px;
  background: radial-gradient(circle, #111 60%, #5e5e5eb9 61%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* TEXT */
.artist-name {
  font-size: 1.3rem;
  margin-bottom: 8px;
}

.top-label {
  font-size: 0.9rem;
  margin-bottom: 12px;
}

/* SONG LIST */
.song-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.song-list li {
  margin: 6px 0;
}

.song-link {
  text-decoration: none;
  color: #333;
  font-size: 0.95rem;
  padding: 6px 12px;
  border-radius: 10px;
  display: inline-block;
  transition: background 0.25s ease, transform 0.25s ease;
}

/* HOVER EFFECT */
.song-link:hover {
  background: rgba(0, 0, 0, 0.08);
  transform: translateX(6px);
}

