* 
    {
        margin: 0;
        padding: 5;
        box-sizing: border-box;
    }

.hero 
    {
        text-align: center;
        padding-top: 30px;
    }

.logo 
    {
        font-family: 'Great Vibes', cursive;
        font-size: 70px;
        color: #262c38;

        text-shadow:
            5px 5px 0 #e0dedc,
            2px 2px 0 #fff2ea,
            10px 5px 5px rgb(255, 255, 255);
    }

.navbar 
    {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.418); /* semi-transparent bar */
    }

.navbar a 
    {
        text-decoration: none;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        letter-spacing: 2px;
    }

.navbar a:hover 
    {
        text-decoration: underline;
    }

.section-opening
    {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.555);
        margin: 20px auto;
        border-radius: 10px;
        width: 90%;
        max-width: 1500px;
        box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
        font-family: 'Crimson Pro', serif;
        font-size: 17px;
    }

section {
    padding: 20px;
    background-color: rgb(250, 244, 241);
    margin: 20px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 1500px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
}

/* TABLE GALLERY */
.gallery-table {
    margin: auto;
    border-spacing: 40px;
}

.gallery-table td {
    background: white;
    text-align: center;
    vertical-align: top;
    padding: 15px 15px 30px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.gallery-table img {
    width: 200px;
    height: 260px;
    object-fit: cover;
}

.gallery-table p {
    margin-top: 12px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
}

.gallery-table td:hover {
    transform: translateY(-10px) rotate(-1deg);
    box-shadow: 0 20px 30px rgba(0,0,0,0.25);
}